body{
    background-color: black;

}

.container{
    display:flex;
    flex-direction: column;
    align-items: center;

}

.stopWatch{
    color: yellowgreen;
    font-size: 200px;
    font-weight: bold;
}

.button{ 
    margin:10px;
}

.milliSecond{
    color:yellow;
    font-size: 80px;
    margin-left:700px;
    margin-top:-90px;
    width:10%;
}